[tool.poetry]
name = "bokehgraph"
version = "0.4.1"
description = "Interactive Graph visualization for networkX Graphs"
authors = ["Lukas Erhard <luerhard@googlemail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/luerhard/bokehgraph"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
bokeh = ">=2.4.1,<4.0"
networkx = ">=2"
numpy = [{version = ">=1.7", python = "<3.12"}, {version = ">=1.26", python = ">=3.12"}]

[tool.poetry.group.dev.dependencies]
pytest = ">=7.4"
ipykernel = ">=6.26.0"
selenium = ">=4.15.2"
pillow = ">=10.1.0"
pytest-regressions = "2.5.0"

[tool.ruff]
fix = true
include = ["*.py", "*.pyi", "**/pyproject.toml", "*.ipynb"]
select = [
"ARG", # flake8-unused-arguments
"B", # flake8-bugbear
"C4", #flake8-comprehensions
"COM", #flake8-commas
"D", # pydocstyle
"E", # pycodestyle
"EM", # flake8-errmsg
"F", # pyflakes
"I", # isort
"N", # pep8-naming
"PT", #flake8-pytest-style
"PTH", # flake8-use-pathlib
"Q", # flake8-quotes
"UP", # pyupgrade
]
ignore = [
  "D100", # no module docstring
  "D107", # no docstring in __init__ funcs
]
target-version = "py38"
line-length = 100
ignore-init-module-imports = true

[tool.ruff.per-file-ignores]
"__init__.py" = ["E402", "D104"]
"docs/**" = [
  "ARG002",
  "B018",
  "D",
  "E402",
  "F811",
]
"tests/**" = ["D"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.isort]
force-single-line = true
force-sort-within-sections = true
lines-after-imports = 1

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
