[tool.poetry]
name = "bokehgraph"
version = "0.3.0"
description = "Interactive Graph visualization for networkX Graphs"
authors = ["Lukas Erhard <luerhard@googlemail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/luerhard/bokehgraph"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
bokeh = ">=2.4.1,<4.0"
numpy = "^1.22"
networkx = ">=2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4"
ipykernel = "^6.26.0"
selenium = "^4.15.2"
pillow = "^10.1.0"
pytest-regressions = "2.5.0"

[tool.flake8]
per-file-ignores="__init__.py:F401"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
