[tool.poetry]
name = "bokehgraph"
version = "0.1.3"
description = "Interactive Graph visualization for networkX Graphs"
authors = ["Lukas Erhard <luerhard@googlemail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/luerhard/bokehgraph"

[tool.poetry.dependencies]
python = "^3.7"
bokeh = "^2.4.1"
networkx = "^2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^21.9b0"
flake9 = "^3.8.3"
mypy = "^0.910"

[tool.flake8]
per-file-ignores="__init__.py:F401"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
