.wy-nav-content {
    max-width: 900px !important;
}

/* margin after code cells */
div.nbinput.nblast.docutils.container {
    margin-bottom: 15px;
    /* Adjust this value for more or less space after code cells */
}

/* margin after output cells */
div.nboutput.nblast.docutils.container {
    margin-bottom: 25px;
    /* Adjust this value for more or less space after output cells */
}
